#London {
    background-color: yellow;
    width: 300px;
    margin: auto;
}

#Oslo {
    background-color: palevioletred;
    width: 300px;
    margin: auto;
}

#Rome {
    background-color: aquamarine;
    width: 300px;
    margin: auto;
}

