/* Color */
p {
    color: red;
}

/* text-align */
h1 {
    text-align: justify;
}

h2 {
    text-align: center;
}

h3 {
    text-align: right;
}

/* text-decoration */

div p {
    text-decoration: underline;
}

div h1 {
    text-decoration: overline;
}

div h2 {
    text-decoration: line-through;
}

/* text-transform */

section h3 {
    text-transform: uppercase;
}

section h4 {
    text-transform: lowercase;
}

/* letter-spacing: Controls space between letters. */
h4 {
    letter-spacing: 10px;
}

/* Word-spacing: controls space between words. */

h5 {
    word-spacing: 20px;
}

/* line-height: Controls vertical spacing between lines. */
#lineheight {
    line-height: 40px;
}

/* text-indent: Adds space before first line. */

#lineheight {
    text-indent: 50px;
}

/* text-shadow: Adds shadow behind text. */

#lineheight {
    text-shadow: 2px 2px 5px gray;
}

/* font-size: Changes text size. */

#fontSize {
    font-size: 30px;
}

/* font-weight: Controls thickness. */

#fontWeight {
    font-weight: bold;
}

/* font-style: Changes style. */

#fontWeight {
    font-style: italic;
}